<%layout("/layouts/boilerplates")%>
<body>
    <div class="row">
            <div class="alert alert-danger align-items-center col-12 row-4 offet-3 mt-5" role="alert">
            <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
                <div>
                    <h3 class="alert-heading"><%=message%></h3>
                </div>
            </div>  
          
    </div>
</body>
